# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/cache/

# Data / models (optional if large)
data/
models/
